html {
  font-size: 13px; 
  background-color: white;
  font-family: arial, sans-serif;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  text-align: center justify;
  padding-left: 15px;
}

.navbar {
  position: absolute;
  top: 8px;
  left: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
}

.nav-img {
  height: 32px;
  width: auto;
}

.nav-left {
  float: left;
  padding-left: 15px;
}

.nav-right {
  float: right;
  padding-right: 15px;
}

.logo-container {
  height: 193px;
  display: auto;
  margin-top: 89px;
}

#logo {
  padding-top: 109px;
  height: 92;
  width: 272;
}

#search-bar {
  padding-top: 36px;
  display: auto;
}

#search-box {
  height: 42px;
  width: 536px;
  border-radius: 24px;
  border: 1px solid #e4e4e4;
}

.search-button {
  height: 36px;
  width: auto;
  font-size: 14px;
  background-color: #f2f2f2;
  text-align: justify;
  border: 1px solid #e4e4e4;
  color: #5f6368;
  border-radius: 4px;
}

#footer-container {
  height: 40px;
  width: 100%;
  font-size: 14px;
  background-color: #f2f2f2;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e4;
}

.footer-link {
  color: #5f6368;
  line-height: 40px;
}
.footer-padding-left {
  float: left;
  padding-left: 27px;
}

.footer-padding-right {
  float: right;
  padding-right: 27px;
}



